// Body
$body-bg: #EFF3F6;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.3;

// Colors
$blue: #6c99eb;
$green: #91c54b;
$red: #e04b37;
$light-gray: #ebebed;
$gray: #c3c3c3;
$dark-gray: #999999;
$darker-gray: #656565;